<template>
  <div class="card">
    <img
      v-if="image"
      :src="require(`@/assets/${image}`)"
      class="card-img-top"
      height="200px"
      alt="Vue"
    />
    <div class="card-body d-flex flex-column">
      <h4 v-if="title && title.trim() !== ''" class="card-title">
        {{ title }}
      </h4>
      <p class="card-text">{{ text }}</p>
      <a :href="link" class="btn btn-primary mt-auto">
        {{ button }}
      </a>
    </div>
  </div>
</template>

<script>
export default {
  name: "Card",
  props: {
    image: { type: String, default: null },
    title: { type: String, default: null },
    text: { type: String, default: null },
    button: { type: String, default: "Click Me" },
    link: { type: String, default: null }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.card {
  width: 20rem;
  margin: 2rem;
}
.card-img-top {
  padding: 1rem 2rem;
}
</style>
