<template>
  <div id="app">
    <h1 class="display-1 mb-5">Vue.js CI/CD</h1>
    <div class="row justify-content-center">
      <Card
        image="vue.svg"
        title="Vue.js"
        text="Vue is a progressive framework for building user interfaces. It consists of an approachable core library that focuses on the view layer only, and an ecosystem of supporting libraries."
        button="Learn More"
        link="https://github.com/vuejs/vue"
      />
      <Card
        image="gitlab.svg"
        title="Gitlab"
        text="GitLab is an open source end-to-end software development platform with built-in version control, issue tracking, code review and CI/CD. It can be self-hosted or used on a cload provider."
        button="Learn More"
        link="https://gitlab.com/gitlab-org/gitlab"
      />
    </div>
  </div>
</template>

<script>
import Card from "./components/Card.vue";
import "bootstrap/dist/css/bootstrap.css";

export default {
  name: "App",
  components: {
    Card
  }
};
</script>

<style>
@import url("https://fonts.googleapis.com/css?family=Inter");
#app {
  font-family: "Inter", Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
